body {
    font-family: sans-serif;
    background-color: #EEEEEE;
    margin: 0px;
}
main {
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: #78A3E6;
}

header {
    margin-right: auto;
    margin-left: auto;
}
header p {
    text-align: center;
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 10px 20px;
    padding: .5em;
}


.navigation  {
    display: inline-block;
    margin-top: -1em;
    margin-bottom: 5px;
    width: 100%;
}

.title {
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: .5em;
}

.title a {
    list-style-type: none;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 1.25em;
    align-self: center;
}

.link-color {
    background-color: #A1C1F4;
    padding-left: .25em;
    padding-right: .25em;

}

.title a:hover {
    color: black;
}

.profile {
    width: 15%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    border: 1px solid white;
    margin-top: -1em;

}

.name {
    text-align: center;
}
header p:hover {
    box-shadow: 0px 10px 20px #FF9B57;
}
.col {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    box-shadow: 0px 10px 20px;
    background-color: white;
    display: none;
}

.col p  {
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.5em;
}

.col:hover {
    box-shadow: 0px 10px 20px #FF9B57;

}
.col p {
    text-align: center;
}


.col-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}


footer {
    display: flex;
    justify-content: center;
    background-color: #78A3E6;
}


/* Media Queries*/

@media (min-width: 768px) {


    .navigation  {
        display:flex;
        flex-wrap: wrap;
    }

    header p {
        width: 93.5%;
    }

    .title {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80%;
        margin-top: .5em;
    }

    .title a {
        margin-right: .75em;
        margin-top: .5em;
        margin-bottom: .5em;
        margin-left: 1em;
        font-size: 2em;
    }

    .col {
        width: 45%;
    }

    .secondary {
        order: 2;
    }

    .col .primary {
        order: 1;

    }
}
